
    <header class="header-lbr" id="library">
        <section  class="container-lbr">
            <nav class="header-lbr__nav">
                <div class="logo-section">
                <span class="logo-lbr"><a href="">
                    
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7 2V22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17 2V22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2 12H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2 7H7" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2 17H7" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17 17H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17 7H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></span>
                <span class="logo-name">Filmoteka</span>
            </div>

                <ul class="header-lbr__nav-links">
                    <li class="nav-link"><a href="" >Home</a></li>
                    <li class="nav-link active">my library</li>
                </ul>
            </nav>   
                <div class="header-lbr__btn">
                                <button class="button-lbr is-active">Watched</button>
                                <button class="button-lbr">queue</button>
            </div>
        </section>
    </header>
    
    <main class="main-home">
    <ul class="filmlist">

    </ul>
</main>

    <footer class="footer">
    <div class="footer-box">
        <p class="footer-box_first-part"> &copy; 2020 <span class="footer-box_first-span">|</span> All Rights Reserved
            <span class="footer-box_first-span">|</span></p>
        <div class="footer-box_section">
                <p class="footer-box_developed">Developed with</p>
                <svg class="footer-box_icon">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 12.88L6.02 11.9C2.38 8.68 0 6.51 0 3.85C0 1.68 1.68 0 3.85 0C5.04 0 6.23 0.56 7 1.47C7.77 0.56 8.96 0 10.15 0C12.32 0 14 1.68 14 3.85C14 6.51 11.62 8.68 7.98 11.9L7 12.88Z" fill="#FF6B08"/>
</svg>
                </svg>
                <p class="footer-box_second-part" id="btn_modal_window">by <span class="footer-box_line">GoITishki Students</span></p>
                </div>
        </div>

</footer>
    