$timer-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
$primary-white-color: #ffffff;
$brand-orange-color: #ff6b08;
$text-color: #000000;
$footer-bg-color: #f7f7f7;
