<footer class="footer">
    <div class="footer-box">
        <p class="footer-box_first-part"> &copy; 2022 <span class="footer-box_first-span">|</span> All Rights Reserved
            <span class="footer-box_first-span">|</span></p>
        <div class="footer-box_section">
                <p class="footer-box_developed">Developed with</p>
                <svg class="footer-box_icon">
                    <use href="./images/arrow.svg#icon-footer_heart"></use>
                </svg>
                <p class="footer-box_second-part" id="btn_modal_window">by</p>
                <button type="button" class="footer-box_line">GoITishki Students</button>
                </div>
        </div>
</footer>