.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #ffffff;
  border-radius: 5px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 767px;
    height: 500px;
    padding: 48px 20px;
    overflow: scroll;
  }
  @media screen and (min-width: 768px) {
    width: 658px;
    padding: 42px 28px;
  }
  @media screen and (min-width: 1280px) {
    width: 882px;
    padding: 50px 30px;
  }
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.button-close__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.button-close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
}

.modal__poster {
  position: relative;
  width: 240px;
  height: 357px;
  margin-bottom: 30px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
    margin-right: 30px;
  }
}
.modal__img {
  border-radius: 5px;
  @media screen and (min-width: 1024px) {
    max-height: 100%;
    margin: 0 auto;
  }
}
.modal__detail {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modal__all-info {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}
.modal__item-info {
  display: grid;
  grid-template-columns: 108px auto;
}
.modal__btns {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.modal__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  height: 44px;
  border-radius: 5px;
  border: 1px solid #000000;
  background: #ffffff;
  box-sizing: border-box;
  color: #000;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;

  @media screen and (min-width: 320px) {
    width: 112px;
  }
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 136px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    background-color: #ff6b01;
    color: #ffffff;
    border: none;
  }
}
.btn__watched {
  margin-right: 15px;
}
.btn__watched.btn__watched--active,
.btn__queue.btn__queue--active {
  visibility: hidden;
}

.btn__watched--active::after {
  margin-right: 50px;
}
.btn__queue--active::after {
  margin-right: 30px;
}
.btn__watched--active:hover.btn__watched--active::after,
.btn__queue--active:hover.btn__queue--active::after {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
}
.btn__watched--active::after,
.btn__queue--active::after {
  content: 'Remove from Watched';
  cursor: pointer;
  visibility: visible;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  height: 44px;
  border-radius: 5px;
  border: 1px solid #000000;
  background: #ffffff;
  box-sizing: border-box;
  color: #000;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;

  @media screen and (min-width: 320px) {
    min-width: 112px;
  }
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 136px;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__queue--active::after {
  content: 'Remove from Queue';
}

.modal__title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #000000;

  margin-bottom: 20px;

  @media screen and (min-width: 320px) {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
  }
}
.modal__part-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.modal__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #000000;
}
.modal__info-color {
  min-width: 36px;
  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
}
.modal__info-light {
  min-width: 36px;
  background: transparent;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.modal__list-info {
  display: flex;
  flex-direction: column;
  line-height: 1.33;

  @media screen and (min-width: 320px) {
    min-width: 112px;
  }
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}

.modal__item-info {
  margin-bottom: 10px;
}
.modal__title-description {
  font-family: Roboto;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.modal__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #000000;
}
.modal__main-info {
  display: flex;
}
.modal__genre:not(:last-child) {
  margin-right: 5px;
}
.modal__genre:not(:last-child)::after {
  content: ', ';
}
.modal__flex {
  display: flex;
  flex-wrap: wrap;
}

.play_trailer {
  fill: #ff0101;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  iframe {
    max-width: 100% !important;
    min-height: 400px !important;
  }
}
